
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :scam_type %>
    <%= f.input :cep %>
    <%= f.input :money_lost %>
  </div>

  <%# Simple fields for :scammer %>
  <div class="form-inputs">
    <%= f.simple_fields_for :scammer do |scammer| %>
      <%= scammer.input :name, label: "Nome Usado pelo golpista" %>
      <%= scammer.input :email, label: "Email Usado pelo golpista" %>
      <%= scammer.input :phone, label: "Telefone Usado pelo golpista" %>
      <%= scammer.input :website, label: "Site onde ocorreu golpe" %>
      <%= scammer.input :description, label: "Descrição do golpe" %>
    <% end %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
