<div style="min-height: 65vh">
  <div class="container rounded-4"  id="form-container">
    <div data-controller="form" class="p-5">
      <%= simple_form_for(@task) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs text-start">
          <%# Disable date input %>
          <%= f.input :date, as: :date, label: "Data", input_html: { value: Date.today }, disabled: true %>
          <%# <%= f.input :date, required: true, as: :date, order: [:day, :month, :year], label: "DATA DO GOLPE", input_html: { value: Date} %>
          <% select_options = @scam_types %>
          <%= f.input :scam_type, required: false, collection: select_options, label: "TIPO DE GOLPE", input_html: { class: "form-select" } %>
          <%= f.input :cep, required: false, label: "SEU CEP" %>
          <div class="d-flex justify-content-between">
            <div class="form-actions">
              <%= f.button :submit, value:"Denunciar", class:"btn btn-danger"%>
            </div>
            <div class="btn btn-primary" data-action="click->form#myFunction" >
              Acrescentar mais detalhes </div>
          </div>
        </div>
        <%# Simple fields for :scammer %>
        <div class="container-extra">
          <div class="form-inputs" id="form-toggle">
            <%= f.input :money_lost, label: "Quantia perdida" %>
            <%= f.simple_fields_for :scammer do |scammer| %>
              <%= scammer.input :name, required: false, label: "Nome usado pelo golpista" %>
              <%= scammer.input :email, required: false, label: "Email usado pelo golpista" %>
              <%= scammer.input :phone, required: false, label: "Telefone usado pelo golpista" %>
              <%= scammer.input :website, required: false, label: "Site ou plataforma onde ocorreu golpe" %>
              <%= scammer.input :description, required: false, label: "Descrição do golpe" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
