<div style="min-height: 74.2vh">
  <div class="container rounded-4 mb-5"  id="form-container">
    <div data-controller="form" class="p-5">
      <div class="text-center mb-5" style="color: white">
        <h4>CADASTRE UMA NOVA DENÚNCIA</h4>
      </div>
      <%= simple_form_for(@task) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs text-start">
          <%# Disable date input %>
          <%# <%= f.input :date, as: :date, label: "Data", input_html: { value: Date.today }, disabled: true %>
          <div class="form-data">
            <%= f.input :date, required: false, as: :date, order: [:day, :month, :year], label: "DATA DO GOLPE", input_html: { value: Date} %>
          </div>
          <% select_options = Task::SCAM_TYPE %>
          <%= f.input :scam_type, required: false, collection: select_options, label: "TIPO DE GOLPE", input_html: { class: "form-select" } %>
          <%= f.input :cep, required: false, label: "SEU CEP" %>
          <div class="d-flex justify-content-between">
            <div class="form-actions" 
                 style="box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;"
              >
              <%= f.button :submit, value:"Denunciar", class:"btn btn-danger" %>
            </div>
            <div class="btn btn-link" style="color: white" data-action="click->form#myFunction" >
              Acrescentar mais detalhes </div>
          </div>
        </div>
        <%# Simple fields for :scammer %>
        <div class="container-extra mt-2">
          <div class="form-inputs" id="form-toggle">
            <%= f.input :money_lost, label: "Quantia perdida" %>
            <%= f.simple_fields_for :scammer do |scammer| %>
              <%= scammer.input :name, required: false, label: "Nome usado pelo golpista" %>
              <%= scammer.input :email, required: false, label: "Email usado pelo golpista" %>
              <%= scammer.input :phone, required: false, label: "Telefone usado pelo golpista" %>
              <%= scammer.input :website, required: false, label: "Site ou plataforma onde ocorreu golpe" %>
              <%= scammer.input :description, required: false, label: "Descrição do golpe" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
