<div>
  <div class="container" id="form-container">
    <div data-controller="form">
      <%= simple_form_for(@task) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%# f.input :date, required: true, as: :date, order: [:day, :month, :year], label: "DATA DO GOLPE", input_html: { value: Date} %>
          <%= f.input :scam_type, required: true, label: "TIPO DE GOLPE", collection: Scammer::FRAUDS %>
          <%= f.input :cep, required: true, label: "SEU CEP" %>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
          <div class="btn btn-primary" data-action="click->form#myFunction" >
            Acrescentar mais detalhes </div>
        </div>
        <%# Simple fields for :scammer %>
        <div class="container-extra">
          <div class="form-inputs" id="form-toggle">
            <%= f.input :money_lost, label: "Quantia perdida" %>
            <%= f.simple_fields_for :scammer do |scammer| %>
              <%= scammer.input :name, required: false, label: "Nome usado pelo golpista" %>
              <%= scammer.input :email, required: false, label: "Email usado pelo golpista" %>
              <%= scammer.input :phone, required: false, label: "Telefone usado pelo golpista" %>
              <%= scammer.input :website, required: false, label: "Site ou plataforma onde ocorreu golpe" %>
              <%= scammer.input :description, required: false, label: "Descrição do golpe" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
