
<div class="input-group mb-4">
  <input type="text" class="form-control" id="advanced-search-input" placeholder="Tipo de Golpe" />
  <input type="integer" class="form-control" id="advanced-search-input" placeholder="CEP" />
  <input type="date" class="form-control" id="advanced-search-input" placeholder="DATA" />
  <button class="btn btn-primary" id="advanced-search-button" type="button">
    <i class="fa fa-search"></i>
  </button>
  <button class="btn btn-secondary" id="advanced-search-button" type="button">
    <i class="fa fa-times"></i>
  </button>
</div>

<%= form_with url: tasks_path, method: :get, class: "d-flex"  do %>
  <%= text_field_tag :search, params[:search],class: "form-control", id: "advanced-search-input", placeholder: "Pesquise por tipo de golpe" %>
  <%= text_field_tag :zip, params[:zip],class: "form-control",placeholder: "Pesquise por cep" %>
  <%= date_field_tag :query, params[:query],class: "form-control",placeholder: "Pesquise por data" %>
  <%= button_tag(type: "submit", class: "btn btn-primary")  do %>
    <i class="fa fa-search"></i>
 <% end %>
  <%= link_to "Limpar", tasks_path, class: "btn btn-secondary" %>
<% end %>


<%= form_with url: tasks_path, method: :get, class: "d-flex"  do %>
<div class="input-group mb-4">
  <input type="text" class="form-control" id="advanced-search-input" placeholder="Tipo de Golpe" <% text_field_tag :search, params[:search] %> />
  <input type="integer" class="form-control" id="advanced-search-input" placeholder="CEP" <%  text_field_tag :zip, params[:zip] %> />
  <input type="date" class="form-control" id="advanced-search-input" placeholder="DATA" <% date_field_tag :query, params[:query] %>/>
  <button class="btn btn-primary" id="advanced-search-button" type="button">
    <i class="fa fa-search"><% submit_tag "Pesquisar" %></i>
  </button>
  <button class="btn btn-secondary" id="advanced-search-button" type="button">
    <i class="fa fa-times"><% link_to "Limpar", tasks_path %></i>
  </button>
</div>
<% end %>
