<div id="<%= dom_id task %>">
  <p>
    <strong>Date:</strong>
    <%= task.date %>
  </p>

  <p>
    <strong>Scam type:</strong>
    <%= task.scam_type %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= task.cep %>
  </p>

  <p>
    <strong>Money lost:</strong>
    <%= task.money_lost %>
  </p>

</div>
