<p style="color: green"><%= notice %></p>
<h1>Golpes</h1>
<%= link_to "New task", new_task_path %>
<%# search %>
<%= form_with url: tasks_path, method: :get, class: "d-flex"  do %>
  <div class="input-group mt-2">
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Pesquise por tipo de golpe" %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Pesquise por CEP" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<%# Render Tasks %>
<%= render 'table', tasks: @tasks %>
