<%# <div style='height: 45px; background-color: #012a4a;'></div> %>
<nav class="navbar navbar-expand-sm sticky-top"
     data-controller="navbar"
     data-action="scroll@window->navbar#updateNavbar"
>
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.svg", class: "logo" %>
    </a>
    <div class="nav-list">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "REPORTAR", root_path(anchor: "report"), class: "nav-link reportar" %>
        </li>
        <li class="nav-item">
          <%= link_to "TIPO DE FRAUDES", root_path(anchor: "fraudes"), class: "nav-link fraudes" %>
        </li>
        <li class="nav-item">
          <%= link_to "PREVENÇÃO", root_path(anchor: "prevencao"), class: "nav-link prevencao" %>
        </li>
        <li class="nav-item">
          <%= link_to "SOBRE NÓS", root_path(anchor: "sobre nós"), class: "nav-link sobre" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
