<%#= render 'zones/map' %>
<%= render 'shared/banner' %>

<div class="container">
    <div class="col-lg-3">
        <section id="report">
            <%= render "tasks/form"%>
        </section>

        <section id="mapa">
            <%= render 'zones/map' %>
        </section>

            <%= render "tasks/table"%>
        <section id="fraudes">
            <%= render 'pages/types_of_fraud' %>
        </section>

        <section id="prevencao">
            <%= render 'pages/prevention' %>
        </section>
    </div>
</div>
