<%#= render 'zones/map' %>
<%= render 'shared/banner' %>

<div class="container">
    <div class="col-lg-3">
        <section id="report">
            <%= render "tasks/form"%>
        </section>
            <%= render 'zones/map' %>
            <%= render "tasks/table"%>
            <%= render 'pages/types_of_fraud' %>
            <%= render 'pages/prevention' %>
    </div>
</div>
