<%#= render 'zones/map' %>
<%= render 'shared/banner' %>

<%# <div class="container">
    <div class="items">
        <section id="report">
            <%= render "tasks/form"%>
        <%# </section>


        <section id="mapa">

        <%# <section>
            <%= render "tasks/table"%>
        <%# </section>

        <section id="fraudes">
            <%= render 'pages/types_of_fraud' %>
        <%# </section> %>

        <%# <section id="prevencao">
            <%= render 'pages/prevention' %>
        <%# </section>
    </div>
</div> %>
