<%# Show scammers details %>
<div id="<%= dom_id task %>">
  <p>
    <strong>Name</strong>
    <%= task.scammer.name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= task.scammer.email %>
  </p>
  <p>
    <strong>Phone</strong>
    <%= task.scammer.phone %>
  </p>
  <p>
    <strong>Website</strong>
    <%= task.scammer.website %>
  </p>
  <p>
    <strong>Description</strong>
    <%= task.scammer.description %>
  </p>
</div>
