<!DOCTYPE html>
<html>
  <head>
    <title>PegaGolpista</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('fav_icon.svg') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_API_KEY']}&&libraries=places", defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Square+Peg&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="content" >
    <%= yield %>
    <%= turbo_frame_tag "remote_modal", target: "_top" %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
